<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img 
            src="https://midias.correiobraziliense.com.br/_midias/jpg/2022/06/24/hotd_ka_hbo_max_organic_1x1_bra__2_-25934247.jpg" 
            alt="">
              
        </div>
        
            <div class="small-card__title">
                <h1><a href="#">Segunda temporada de A Casa do Dragão</a></h1>
        
            </div>
    </div>
    
    <div class="container__small-card__separator">
        <hr>
    </div>
    
</div>
